body {
  height: 100vh;
}

#root {
  height: 100%;
}

#login {
  height: 100%;
  background-color: #f4f4f4;
}

#login .bx--row {
  padding-top: 220px;
  height: 630px;
}

#login #leftBox {
  padding: 20px 26px;
  background-color: #ffffff;
}

#login #leftBox h1 {
  margin: 22px 0;
  margin-right: 8%;
}
#login #leftBox .bx--text-input-wrapper {
  margin: 10px 0;
  margin-right: 8%;
}

#login #leftBox .bx--btn--primary {
  margin-top: 10px;
}

#login #rightBox {
  padding: 18px 12px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login #rightBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 672px) {
  #login #rightBox {
    display: none;
  }

  #login .bx--row {
    padding-top: 47px;
    height: 400px;
  }

  #login #leftBox h1 {
    margin-right: 10%;
  }
  #login #leftBox .bx--text-input-wrapper {
    margin-right: 16%;
  }
}

@media only screen and (max-width: 1056px) {
  #login #rightBox img {
    transform: rotate(270deg);
    object-fit: scale-down;
  }
}
