body {
  height: 100vh;
}

.bx--header {
  position: relative;
}

#logoutIcon {
  padding-left: 3px;
  padding-top: 1px;
}

.bx--data-table-container {
  padding-top: 0;
}

@media only screen and (max-width: 1056px) {
  td:nth-child(1){
    max-width: 26vw;
    overflow-y: scroll;
  }
}