// Tables
@use '@material/data-table/mdc-data-table';
@use '@material/data-table';

// Menu
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/menu";

// TABS
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

// Buttons
@use "@material/button";
@use "@material/button/mdc-button";

@use "@material/textfield";
@use "@material/textfield/mdc-text-field";

@include button.core-styles;
@include textfield.core-styles;

.tabcontent {
  display: none;
  margin: 1rem;
  padding: 0 16px;
}

.table {
  width: 100%;
}

.anchor {
  float: right;
  cursor: pointer;
}

.formButton {
  margin-bottom: 8px;
  float: right;
}

.mdc-button__ripple {
  border: 1px solid #6200ee !important;
}

.mdc-menu {
  @include menu.width(3);
}

.mdc-list-item .material-icons {
  margin-right: 1rem;
}

/* The side navigation menu */
.form {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  // left: 0;
  right: 0;
  background-color: #F5F5F5;


  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
}


.form label {
  display: block;
  margin: 16px 32px;
}

.form button {
  float: right;
  margin: 0px 32px;
}


.form .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  transition: 0.5s;
}

.form .closebtn:hover {
  color: #d4bff9;
}

.form .closebtn:active {
  color: #6002ee;
}

#main {
  transition: margin-right .5s;
  min-height: 100vh;
}

body {
  margin: 0;
}

@media screen and (max-height: 450px) {
  .form {
    padding-top: 15px;
  }

  .form a {
    font-size: 18px;
  }
}